h4{
    margin-top: 40px;
    text-align: center;
}
h2{
    font-size: 1.1rem;
    text-align: center;
    padding: 20px;
}
p{
    padding: 20px;
}
.tipos{
    width: 600px;
}
.orden{
    display: flex;
    justify-content: center;
}
.charizard{
    width: 300px;
}

@media screen and (max-width: 480px){
    .charizard{
        width: 200px;
    }
    .tipos{
        width: 300px;
    }
}